/.cabal-sandbox/
/dist/
/cabal.sandbox.config
/cabal.config
/.cabal.config
/normcoords-*:*.png
/normcoords-*:*.txt
/*.txt
/*.png
/*.hs~
/.gitignore~
/manifoldRNC.cabal~
/TAGS
/src/*.png
/src/*.ps
/src/*.txt
/src/deprecatedcode
/src/*.hi
/src/*.hp
/src/*.hs~
/src/*.aux
/src/*.o
/src/*.prof
/src/Main
/src/deprecatedSource/*
/src/results/*
/manifoldRNCLibOrganization.org
/src/test
/src/test.dat
/src/tetsplot
